<template>
    <!-- Page -->
    <div class="container-fluid">
        <!-- Application Dashboard -->
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <div class="panel panel-default">
                    <div class="panel-heading">Dashboard</div>

                    <div class="panel-body">
                        Your application's dashboard.
                    </div>

                </div>
            </div>
        </div>

    </div>


    <!-- End Page -->
</template>
<style scoped>
    .form-group {
        margin-bottom: -0.571rem;
    }
</style>

<script type="text/babel">

    export default{
        data(){
            return {

            }
        },
        mounted(){

        },
        methods: {

        },
        components: {}
    }
</script>