<template>
    <!-- Page -->
    <div class="container-fluid">
        <div class="row">

            <div class="col-lg-12 col-xs-12">
                <!-- Panel Wizard Form Container -->

                <div class="panel" id="exampleWizardFormContainer">
                    <div class="panel-heading">
                        <h3 class="panel-title">Checkout Process</h3>
                    </div>
                    <div class="row">
                        <div class="col-lg-2 col-xs-12">
                        </div>
                        <div class="col-lg-4 col-xs-12">
                            <div class="card card-block p-25 bg-blue-600">
                                <div class="counter counter-lg counter-inverse">
                                    <div class="counter-label text-uppercase">Number of Records</div>
                                    <span class="counter-number">{{ recordsCount }}</span>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-4 col-xs-12">
                            <div class="card card-block p-25 bg-green-600">
                                <div class="counter counter-lg counter-inverse">
                                    <div class="counter-label text-uppercase">Total Cost</div>
                                    <span class="counter-number">${{ totalPrice + emailCost }}</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="panel-body">
                        <div style="margin-top: -100px" class="wizard">
                            <div class="wizard-inner">
                                <div class="connecting-line"></div>
                                <ul class="nav nav-tabs" role="tablist">

                                    <li role="presentation" class="active">
                                        <a href="#step1" data-toggle="tab" aria-controls="step1" role="tab"
                                           title="Info">
                                            <span class="round-tab">
                                                <i class="icon wb-user"></i>
                                            </span>
                                        </a>
                                    </li>

                                    <li role="presentation" class="disabled">
                                        <a href="#step2" data-toggle="tab" aria-controls="step2" role="tab"
                                           title="Payment Method">
                                            <span class="round-tab">

                                                <i class="fa fa-shopping-cart"></i>

                                            </span>
                                        </a>
                                    </li>
                                    <li role="presentation" class="disabled">
                                        <a href="#step3" data-toggle="tab" aria-controls="step3" role="tab"
                                           title="Invoice">
                                            <span class="round-tab">
                                                <i class="icon wb-payment"></i>
                                            </span>
                                        </a>
                                    </li>

                                    <li role="presentation" class="disabled">
                                        <a href="#complete" data-toggle="tab" aria-controls="complete" role="tab"
                                           title="Finish">
                                            <span class="round-tab">
                                                <i class="icon wb-check"></i>
                                            </span>
                                        </a>
                                    </li>
                                </ul>
                            </div>

                            <div class="tab-content">
                                <div class="tab-pane active" role="tabpanel" id="step1">

                                    <div class="row">
                                        <div class="col-md-6">

                                            <div v-show="is_email_found_in_fields" class="form-group">
                                                <div class="input-group">
                                                    <span class="">
                                                      <span class="checkbox-custom checkbox-default">
                                                        <input type="checkbox" id="inputCheckbox_email"
                                                               v-model="email_checked" value="1" @click="updatePrice">

                                                        <label for="inputCheckbox_email">Would you like to Add email address?</label>

                                                      </span>
                                                    </span>
                                                </div>
                                            </div>

                                            <hr>
                                            <div class="form-group">
                                                <div v-show="errors.step1.format" class="alert alert-danger"
                                                     id="errorFileFormat" style="display:none;">
                                                    File Format is required
                                                </div>
                                                <label>What format do you want this file?</label>

                                                <div class="form-group">
                                                    <div class="input-group">
                                                        <span class="radio-custom radio-default">
                                                        <input type="radio" id="inputRadio" v-model="fileFormat"
                                                               value="csv">
                                                        <label for="inputRadio">CSV</label>
                                                      </span>

                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <div class="input-group">
                                                        <span class="radio-custom radio-default">
                                                        <input type="radio" id="inputRadio_pdf" v-model="fileFormat"
                                                               value="pdf">
                                                        <label for="inputRadio_pdf">PDF</label>
                                                      </span>

                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <div class="input-group">
                                                        <span class="radio-custom radio-default">
                                                        <input type="radio" id="inputRadio_xlsx" v-model="fileFormat"
                                                               value="xlsx">
                                                        <label for="inputRadio_xlsx">EXCEL</label>
                                                      </span>

                                                    </div>
                                                </div>

                                            </div>
                                            <hr>
                                            <div class="form-group">
                                                <div v-show="errors.step1.fields" class="alert alert-danger"
                                                     id="errorFieldNames" style="display:none;">
                                                    File columns are required
                                                </div>

                                                <label>What columns would you like in this file?</label>

                                                <template v-for="(field, index) in fields">
                                                    <div class="form-group">
                                                        <div class="input-group">
                                                    <span class="">
                                                      <span class="checkbox-custom checkbox-default">
                                                        <input class="columnsFields" type="checkbox"
                                                               :id="'inputCheckbox'+index"
                                                               v-bind:value="field.name" v-model="fieldNames">
                                                        <label :for="'inputCheckbox'+index">{{ field.formatted_name }}</label>
                                                      </span>
                                                    </span>
                                                        </div>
                                                    </div>
                                                </template>

                                            </div>
                                        </div>
                                    </div>
                                    <ul class="list-inline pull-right">
                                        <li>
                                            <button @click="storeStep1" type="button"
                                                    class="btn btn-primary next-step">Next <i class="fa fa-forward"></i>
                                            </button>

                                        </li>
                                    </ul>
                                </div>


                                <div class="clearfix"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End Panel Wizard Form Container -->
            </div>
        </div>

    </div>

    <!-- End Page -->
</template>
<style scoped>
    .form-group {
        margin-bottom: -0.571rem;
    }
</style>

<script type="text/babel">

    export default{
        data(){
            return {
                seen: false,
                paymentForm: false,
                fields: [],
                fieldNames: [],
                fileFormat: 'csv',
                emailCost: 0,
                email: '',
                recordsCount: '',
                totalPrice: '',
                email_checked: '',
                table_name: '',
                stripe_token: '',
                is_email: false,
                is_email_found_in_fields: false,
                validator: {
                    step1: 0,
                    step2: 0
                },
                errors: {
                    step1: {
                        email: false,
                        format: false,
                        fields: false
                    },
                    step2: {
                        payment: ''
                    }
                }
            }
        },
        mounted(){
            var vue = this;
            console.log(vue.email_checked);
            vue.table_name = getQueryByName('table');

            $(document).ready(function () {
                //Initialize tooltips
                $('.nav-tabs > li a[title]').tooltip();

                //Wizard
                $('a[data-toggle="tab"]').on('show.bs.tab', function (e) {

                    var $target = $(e.target);

                    if ($target.parent().hasClass('disabled')) {
                        return false;
                    }
                });

                $(".next-step").click(function (e) {

                    var $active = $('.wizard .nav-tabs li.active');
                    $active.next().removeClass('disabled');
                    vue.nextTab($active);

                });

                $(".prev-step").click(function (e) {

                    var $active = $('.wizard .nav-tabs li.active');
                    vue.prevTab($active);

                });
            });

            vue.getTableFields();

            vue.getRecordsCountAndTotalCost()

        },
        methods: {
            nextTab(elem) {
                if (this.validator.step1 == 0) {
                    $(elem).next().find('a[data-toggle="tab"]').click();
                }
            },
            prevTab(elem)
            {
                $(elem).prev().find('a[data-toggle="tab"]').click();
            },


            getTableFields()
            {
                var vue = this;
                var tableName = getQueryByName('table');
                var step1 = 'step1';
                var data = {
                    params: {
                        table_name: tableName,
                        step1: step1
                    }
                }

                this.$http.get('/table-fields', data)
                        .then((response) => {
                                    vue.fields = response.data.fields;

                                    var email_index = null;
                                    $.each(vue.fields, function (index, field) {
                                        if (field.name.indexOf('email') != -1) {
                                            vue.is_email_found_in_fields = true;
                                            email_index = index;
                                        }else{
                                            vue.fieldNames.push(field.name);
                                        }
                                    })

                                    if (email_index != null) {
                                        vue.fields.splice(email_index, 1);
                                    }
                                },
                                (response) => {

                                })
            },

            updatePrice()
            {
                var vue = this;
                if (vue.email_checked == true) {
                    vue.emailCost = vue.recordsCount * this.spark.email_cost;
                } else {
                    vue.emailCost = 0;
                }
            },

            getRecordsCountAndTotalCost()
            {
                var vue = this;

                this.$http.get('/records-count-cost')
                        .then((response) => {

                                    vue.recordsCount = response.data.recordsCount;
                                    vue.totalPrice = response.data.totalPrice;
                                    vue.is_email = response.data.is_email;
                                },
                                (response) => {

                                })
            },

            // store step 1
            storeStep1()
            {
                var vue = this;


                if (this.fileFormat == '') {
                    this.errors.step1.format = true;

                    this.validator.step1 = 1;

                } else {
                    this.errors.step1.format = false;
                }

                if (this.fieldNames == '') {
                    this.errors.step1.fields = true;

                    this.validator.step1 = 1;
                } else {
                    this.errors.step1.fields = false;
                }

                if (!this.errors.step1.email && !this.errors.step1.format && !this.errors.step1.fields) {
                    this.validator.step1 = 0;

                    var table_name = getQueryByName('table');

                    var data = {
                        fieldNames: this.fieldNames,
                        table: table_name,
                        email: this.email,
                        fileFormat: this.fileFormat,
                        email_checked: this.email_checked
                    }

                    this.$http.post('/checkout/step1', data)
                            .then((response) => {
                                        this.$router.push('/checkout/step2')
                                    },
                                    (response) => {

                                    })
                }

                setTimeout(function () {
                    vue.errors.step1.format = false;
                    vue.errors.step1.fields = false;
                }, 4000);
            },

        },
        components: {}
    }
</script>