<template>
    <div class="container-fluid">
        <div class="row">

            <div class="col-lg-12 col-xs-12">
                <!-- Panel Wizard Form Container -->
                <div class="panel" id="exampleWizardFormContainer">
                    <div class="panel-heading">
                        <h3 class="panel-title">Checkout Process</h3>
                    </div>
                    <div class="row">
                        <div class="col-lg-2 col-xs-12">
                        </div>
                        <div class="col-lg-4 col-xs-12">
                            <div class="card card-block p-25 bg-blue-600">
                                <div class="counter counter-lg counter-inverse">
                                    <div class="counter-label text-uppercase">Number of Records</div>
                                    <span class="counter-number">{{ recordsCount }}</span>
                                </div>
                            </div>
                        </div>


                        <div class="col-lg-4 col-xs-12">
                            <div class="card card-block p-25 bg-green-600">
                                <div class="counter counter-lg counter-inverse">
                                    <div class="counter-label text-uppercase">Total Cost</div>
                                    <span class="counter-number">${{ totalPrice + (is_email_checked ? recordsCount * this.spark.email_cost : 0) }}</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="panel-body">
                        <div style="margin-top: -100px" class="wizard">
                            <div class="wizard-inner">
                                <div class="connecting-line"></div>
                                <ul class="nav nav-tabs" role="tablist">

                                    <li role="presentation" class="disabled">
                                        <a href="#step1" data-toggle="tab" aria-controls="step1" role="tab"
                                           title="Info">
                                            <span class="round-tab">
                                                <i class="icon wb-user"></i>
                                            </span>
                                        </a>
                                    </li>

                                    <li role="presentation" class="active">
                                        <a href="#step2" data-toggle="tab" aria-controls="step2" role="tab"
                                           title="Payment Method">
                                            <span class="round-tab">
                                                <i class="fa fa-shopping-cart"></i>
                                            </span>
                                        </a>
                                    </li>
                                    <li role="presentation" class="disabled">
                                        <a href="#step3" data-toggle="tab" aria-controls="step3" role="tab"
                                           title="Invoice">
                                            <span class="round-tab">
                                                <i class="icon wb-payment"></i>
                                            </span>
                                        </a>
                                    </li>

                                    <li role="presentation" class="disabled">
                                        <a href="#complete" data-toggle="tab" aria-controls="complete" role="tab"
                                           title="Finish">
                                            <span class="round-tab">
                                                <i class="icon wb-check"></i>
                                            </span>
                                        </a>
                                    </li>
                                </ul>
                            </div>

                            <div class="tab-content">

                                <div class="tab-pane active" role="tabpanel" id="step3">
                                    <div class="alert alert-danger" v-show="errors.length">
                                        <ul>
                                            <li v-for="error in errors">{{ error }}</li>
                                        </ul>
                                    </div>
                                    <table class="table">
                                        <thead>
                                        <tr>

                                            <th>#</th>
                                            <th>Description</th>
                                            <th>Quantity</th>
                                            <th>Unit Cost</th>
                                            <th>Total</th>

                                        </tr>
                                        </thead>
                                        <tbody>

                                        <tr v-show="is_email_checked">
                                            <td> 1</td>
                                            <td>Email <strong>{{ email }}</strong></td>
                                            <td>{{ count }}</td>
                                            <td>${{ this.spark.email_cost }}</td>
                                            <td>${{ count * this.spark.email_cost }}</td>
                                        </tr>

                                        <tr v-show="count > 0">
                                            <td> 2</td>
                                            <td>Number of records: <strong>{{ table_name }}</strong>:</td>
                                            <td> {{ count }}</td>
                                            <td>-</td>
                                            <td>${{ total_cost }}</td>
                                        </tr>
                                        <tr>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td><strong>Total:</strong></td>
                                            <td>${{ total }}</td>
                                        </tr>
                                        </tbody>
                                    </table>


                                    <ul class="list-inline pull-right">
                                        <li>
                                            <router-link class="btn btn-default prev-step" to="/checkout/step1">
                                                <i class="fa fa-backward"></i>
                                                Previous
                                            </router-link>
                                        </li>
                                        <li>

                                            <router-link class="btn btn-primary btn-info-full" to="/checkout/step3">Next
                                                <i class="fa fa-forward"></i>
                                            </router-link>
                                            <!--<button @click="storeStep3" type="button"-->
                                                    <!--class="btn btn-primary btn-info-full">-->
                                                <!--<i class="fa-fw fa fa-spinner fa-spin" v-show="spin"></i>-->
                                                <!--<span class="sr-only">Loading...</span>-->
                                                <!--Confirm-->
                                            <!--</button>-->
                                        </li>
                                    </ul>
                                </div>

                                <div class="clearfix"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End Panel Wizard Form Container -->
            </div>
        </div>

    </div>
</template>
<style>


</style>
<script type="text/babel">

    export default{
        data(){
            return {
                paymentForm: false,
                count: '',
                recordsCount: '',
                spin: false,
                totalPrice: '',
                table_name: '',
                total_cost: 0,
                total: 0,
                is_email: false,
                is_email_checked: false,
                errors: [],
                email: ''
            }
        },
        mounted(){
            var vue = this;
            vue.table_name = getQueryByName('table')

            $('#payment-form').submit(function (e) {
                var $form = $(this);

                // Disable the submit button to prevent repeated clicks
                $form.find('button').prop('disabled', true);

                Stripe.card.createToken($form, stripeResponseHandler);

                // Prevent the form from submitting with the default action
                return false;
            });

            //Initialize tooltips
            $('.nav-tabs > li a[title]').tooltip();

            //Wizard
            $('a[data-toggle="tab"]').on('show.bs.tab', function (e) {

                var $target = $(e.target);

                if ($target.parent().hasClass('disabled')) {
                    return false;
                }
            });

            $(".next-step").click(function (e) {

                var $active = $('.wizard .nav-tabs li.active');
                $active.next().removeClass('disabled');
                vue.nextTab($active);

            });

            $(".prev-step").click(function (e) {

                var $active = $('.wizard .nav-tabs li.active');
                vue.prevTab($active);

            });

            vue.getData()
            vue.getRecordsCountAndTotalCost()


        },
        methods: {
            nextTab(elem) {

                $(elem).next().find('a[data-toggle="tab"]').click();


            },
            prevTab(elem)
            {
                $(elem).prev().find('a[data-toggle="tab"]').click();
            },


            getData()
            {
                var vue= this
                this.$http.get('/checkout/data')
                        .then((response) => {
                                    this.count = response.data.count;
                                    this.total_cost = response.data.total_cost;
                                    vue.is_email_checked = response.data.is_email_checked;
                                     if(vue.is_email_checked== true)
                                     {
                                          vue.is_email_checked = true;
                                     }
                                },
                                (response) => {

                                })
            },

            getRecordsCountAndTotalCost()
            {
                var vue = this;
                this.$http.get('/records-count-cost')
                        .then((response) => {
                                    vue.recordsCount = response.data.recordsCount;
                                    vue.totalPrice = response.data.totalPrice;
                                    vue.is_email = response.data.is_email;
                                    vue.is_email_checked = response.data.is_email_checked;

                                    if (vue.is_email_checked == true) {
                                        vue.email = response.data.email;
                                        vue.total = response.data.totalPrice +  vue.recordsCount * this.spark.email_cost;
                                    } else {
                                        vue.total = response.data.totalPrice;
                                    }
                                },
                                (response) => {

                                })
            },

            storeStep3()
            {
                var vue = this;
                vue.spin = true;
                var data = {
                    price: vue.total,
                    is_email_checked: vue.is_email_checked,
                    total_cost: vue.total_cost,
                    total: vue.total,
                    count: vue.count
                };

                if(vue.total <= 0){
                    var message = "There are no cost associated to items for charge.";
                    if (vue.errors.indexOf(message) == -1) {
                        vue.errors.push(message);
                        setTimeout(function () {
                            vue.errors = [];
                        }, 4000)
                    }

                    vue.spin = false;

                    return false;
                }

                this.$http.post('/checkout/step3', data)
                        .then((response) => {
                                    vue.spin = false;
                                    this.$router.push('/checkout/step4')
                                },
                                (response) => {

                                })
            }

        },
        components: {}
    }
</script>
