<template>
    <div class="container-fluid">
        <div class="row">

            <div class="col-lg-12 col-xs-12">
                <!-- Panel Wizard Form Container -->
                <div class="panel" id="exampleWizardFormContainer">
                    <div class="panel-heading">
                        <h1 class="panel-title">Checkout Process</h1>
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-lg-2 col-xs-12">
                            </div>
                            <div class="col-lg-4 col-xs-12">
                                <div class="card card-block p-25 bg-blue-600">
                                    <div class="counter counter-lg counter-inverse">
                                        <div class="counter-label text-uppercase">Number of Records</div>
                                        <span class="counter-number">{{ recordsCount }}</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-xs-12">
                                <div class="card card-block p-25 bg-green-600">
                                    <div class="counter counter-lg counter-inverse">
                                        <div class="counter-label text-uppercase">Total Cost</div>
                                        <span class="counter-number">${{ totalPrice + (is_email_checked ? recordsCount * this.spark.email_cost : 0) }}</span>

                                    </div>
                                </div>
                            </div>
                        </div>

                        <div style="margin-top: -100px" class="wizard">
                            <div class="wizard-inner">
                                <div class="connecting-line"></div>
                                <ul class="nav nav-tabs" role="tablist">

                                    <li role="presentation" class="disabled">
                                        <a href="#step1" data-toggle="tab" aria-controls="step1" role="tab"
                                           title="Info">
                                            <span class="round-tab">
                                                <i class="icon wb-user"></i>
                                            </span>
                                        </a>
                                    </li>

                                    <li role="presentation" class="disabled">
                                        <a href="#step2" data-toggle="tab" aria-controls="step2" role="tab"
                                           title="Payment Method">
                                            <span class="round-tab">

                                                <i class="fa fa-shopping-cart"></i>
                                            </span>
                                        </a>
                                    </li>
                                    <li role="presentation" class="disabled">
                                        <a href="#step3" data-toggle="tab" aria-controls="step3" role="tab"
                                           title="Invoice">
                                            <span class="round-tab">
                                               <i class="icon wb-payment"></i>
                                            </span>
                                        </a>
                                    </li>

                                    <li role="presentation" class="active">
                                        <a href="#complete" data-toggle="tab" aria-controls="complete" role="tab"
                                           title="Finish">
                                            <span class="round-tab">
                                                <i class="icon wb-check"></i>
                                            </span>
                                        </a>
                                    </li>
                                </ul>
                            </div>

                            <div class="tab-content">

                                <div class="tab-pane active" role="tabpanel" id="complete">
                                    <h3> Congratulations</h3>
                                    <div class="alert alert-success">
                                        <p>You've successfully purchased data. We are processing your data file and <span v-show="is_email"> will notify you on mentioned email or </span> you can find it in your orders section, when it's ready.</p>
                                    </div>
                                </div>
                                <div class="clearfix"></div>
                                <ul class="list-inline pull-right">
                                    <li>
                                        <router-link class="btn btn-default prev-step" to="/">
                                            <i class="fa fa-home"></i>
                                            Finish
                                        </router-link>
                                    </li>

                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End Panel Wizard Form Container -->
            </div>
        </div>

    </div>
</template>
<style scoped>
    .connecting-line {
        top: 68%;
    }
</style>
<script type="text/babel">

    export default{
        data(){
            return {
                recordsCount:'',
                totalPrice:'',
                total: 0,
                is_email_checked: false,
                is_email: false
            }
        },
        mounted(){
            var vue = this;


            //Initialize tooltips
            $('.nav-tabs > li a[title]').tooltip();

            //Wizard
            $('a[data-toggle="tab"]').on('show.bs.tab', function (e) {

                var $target = $(e.target);

                if ($target.parent().hasClass('disabled')) {
                    return false;
                }
            });

            $(".next-step").click(function (e) {

                var $active = $('.wizard .nav-tabs li.active');
                $active.next().removeClass('disabled');
                vue.nextTab($active);

            });

            $(".prev-step").click(function (e) {

                var $active = $('.wizard .nav-tabs li.active');
                vue.prevTab($active);

            });

            vue.getRecordsCountAndTotalCost()


        },
        methods: {
            nextTab(elem) {

                $(elem).next().find('a[data-toggle="tab"]').click();


            },
            prevTab(elem)
            {
                $(elem).prev().find('a[data-toggle="tab"]').click();
            },

            getRecordsCountAndTotalCost()
            {
                var vue = this
                this.$http.get('/records-count-cost')
                        .then((response) => {
                                    vue.recordsCount = response.data.recordsCount;
                                    vue.totalPrice   = response.data.totalPrice;
                                    vue.is_email   = response.data.is_email;
                                    vue.is_email_checked = response.data.is_email_checked;
                                    if (vue.is_email_checked == true) {
                                        vue.email = response.data.email;
                                        vue.total = response.data.totalPrice + vue.recordsCount * this.spark.email_cost;
                                    } else {
                                        vue.total = response.data.totalPrice;
                                    }
                                },
                                (response) => {

                                })
            },



        },
        components: {}
    }
</script>

