<template>
    <div class="container-fluid">
        <div class="row">

            <div class="col-lg-12 col-xs-12">
                <!-- Panel Wizard Form Container -->
                <div class="panel" id="exampleWizardFormContainer">
                    <div class="panel-heading">
                        <h3 class="panel-title">Checkout Process</h3>
                    </div>
                    <div class="row">
                        <div class="col-lg-2 col-xs-12">
                        </div>
                        <div class="col-lg-4 col-xs-12">
                            <div class="card card-block p-25 bg-blue-600">
                                <div class="counter counter-lg counter-inverse">
                                    <div class="counter-label text-uppercase">Number of Records</div>
                                    <span class="counter-number">{{ recordsCount }}</span>
                                </div>
                            </div>
                        </div>


                        <div class="col-lg-4 col-xs-12">
                            <div class="card card-block p-25 bg-green-600">
                                <div class="counter counter-lg counter-inverse">
                                    <div class="counter-label text-uppercase">Total Cost</div>
                                    <span class="counter-number">${{ totalPrice + (is_email_checked ? recordsCount * this.spark.email_cost : 0) }}</span>

                                </div>
                            </div>
                        </div>


                    </div>
                    <div class="panel-body">
                        <div style="margin-top: -100px" class="wizard">
                            <div class="wizard-inner">
                                <div class="connecting-line"></div>
                                <ul class="nav nav-tabs" role="tablist">

                                    <li role="presentation" class="disabled">
                                        <a href="#step1" data-toggle="tab" aria-controls="step1" role="tab"
                                           title="Info">
                                            <span class="round-tab">
                                                <i class="icon wb-user"></i>
                                            </span>
                                        </a>
                                    </li>

                                    <li role="presentation" class="disabled">
                                        <a href="#step2" data-toggle="tab" aria-controls="step2" role="tab"
                                           title="Payment Method">
                                            <span class="round-tab">

                                                <i class="fa fa-shopping-cart"></i>
                                            </span>
                                        </a>
                                    </li>
                                    <li role="presentation" class="active">
                                        <a href="#step3" data-toggle="tab" aria-controls="step3" role="tab"
                                           title="Invoice">
                                            <span class="round-tab">
                                                <i class="icon wb-payment"></i>
                                            </span>
                                        </a>
                                    </li>

                                    <li role="presentation" class="disabled">
                                        <a href="#complete" data-toggle="tab" aria-controls="complete" role="tab"
                                           title="Finish">
                                            <span class="round-tab">
                                                <i class="icon wb-check"></i>
                                            </span>
                                        </a>
                                    </li>
                                </ul>
                            </div>

                            <div class="tab-content">

                                <div class="tab-pane active" role="tabpanel" id="step2">
                                    <form action="" method="POST" id="payment-form">

                                        <div class="row">
                                            <div class="col-md-6">



                                                <div v-show="ordersCount > 0" class="form-group">
                                                    <div class="input-group">
                                                        <span class="radio-custom radio-default">
                                                        <input type="radio" id="inputRadio_exist" value="0" v-model="method" v-on:click="paymentForm = false">
                                                        <label for="inputRadio_exist">Use existing credit card</label>
                                                      </span>
                                                    </div>
                                                </div>

                                                <div class="form-group">
                                                    <div class="input-group">
                                                        <span class="radio-custom radio-default">
                                                        <input type="radio" id="inputRadio_new" value="1" v-model="method" v-on:click="paymentForm = true">
                                                        <label for="inputRadio_new">Add new credit card</label>
                                                      </span>
                                                    </div>
                                                </div>


                                            </div>
                                        </div>

                                        <div class="card">
                                            <div class="row">
                                                <div class="col-md-6 col-md-offset-3">

                                                    <div v-if="paymentForm">

                                                        <div class="card-wrapper"></div>
                                                        <br>
                                                        <div v-show="errors.step2.payment != ''" class='alert alert-danger'>
                                                            {{ errors.step2.payment }}
                                                        </div>
                                                        <div class="form-group" style="margin-top: 5%">
                                                            <label>Card Number</label>
                                                            <input data-stripe="number" type="text" class="form-control"
                                                                   aria-describedby=""
                                                                   placeholder="16 Digits" id="card-number">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div v-if="paymentForm">
                                                <div class="row">

                                                    <div class="col-md-2 col-md-offset-3">
                                                        <div class="form-group">
                                                            <label>Expiry Month:</label>
                                                            <input data-stripe="exp-month" type="text" class="form-control"
                                                                   aria-describedby=""
                                                                   placeholder="2 Digits" id="exp-month">
                                                        </div>
                                                    </div>
                                                    <div class="col-md-2">
                                                        <div class="form-group">
                                                            <label>Expiry Year:</label>
                                                            <input data-stripe="exp-year" type="text" class="form-control"
                                                                   aria-describedby=""
                                                                   placeholder="4 Digits" id="exp-year">
                                                        </div>
                                                    </div>
                                                    <div class="col-md-2">
                                                        <div class="form-group">
                                                            <label>CVC:</label>
                                                            <input data-stripe="cvc" type="text" class="form-control"
                                                                   aria-describedby=""
                                                                   placeholder="3 Digits" id="cvc">
                                                        </div>
                                                    </div>

                                                </div>
                                            </div>
                                        </div>

                                        <ul class="list-inline pull-right">
                                            <li>
                                                <router-link class="btn btn-default prev-step" to="/checkout/step2">
                                                    <i class="fa fa-backward"></i>
                                                    Previous
                                                </router-link>
                                            </li>
                                            <li>
                                                <button type="submit" class="btn btn-primary step2 next-step">
                                                    <i class="fa-fw fa fa-spinner fa-spin" v-show="spin"></i>
                                                    <span class="sr-only">Loading...</span>
                                                    Confirm

                                                </button>
                                            </li>
                                        </ul>
                                    </form>
                                </div>

                                <div class="clearfix"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End Panel Wizard Form Container -->
            </div>
        </div>

    </div>
</template>
<style scoped>

    div.card{
        margin-bottom: 5%;
    }

</style>
<script type="text/babel">

    export default{
        data(){
            return {
                paymentForm: false,
                stripe_token: '',
                count: 0,
                spin: false,
                recordsCount: 0,
                ordersCount: 0,
                totalPrice: 0,
                total: 0,
                total_cost: 0,
                is_email: false,
                is_email_checked: false,
                method: '',
                validator: {
                    step2: 0
                },
                errors: {
                    step2: {
                        payment: ''
                    }
                }

            }
        },
        mounted(){
            var vue = this;


            // Stripe Code
            // Fill in your publishable key
            Stripe.setPublishableKey(this.spark.stripe_key);

            var stripeResponseHandler = function (status, response) {
                var $form = $('#payment-form');

                if (response.error) {
                    // Show the errors on the form
                    vue.errors.step2.payment = response.error.message;

                    setTimeout(function () {
                        vue.errors.step2.payment = "";
                    }, 4000);

                    vue.spin = false;
                    $form.find('button').prop('disabled', false);
                } else {
                    // token contains id, last4, and card type
                    var token = response.id;
                    // Insert the token into the form so it gets submitted to the server
                    $form.append($('<input type="hidden" name="stripeToken" />').val(token));
                    // and re-submit
                    // $form.get(0).submit();
                    vue.stripe_token = token;

                    vue.storeStep2()

                }
            };

            $(document).ready(function () {

                $('#payment-form').submit(function (e) {
                    e.preventDefault();

                    if (vue.method == 1) {
                        var $form = $(this);

                        vue.spin = true;
                        // Disable the submit button to prevent repeated clicks
                        $form.find('button').prop('disabled', true);

                        Stripe.card.createToken($form, stripeResponseHandler);

                        // Prevent the form from submitting with the default action
                        return false;
                    }else{
                        vue.storeStep2()
                    }
                });

                //Initialize tooltips
                $('.nav-tabs > li a[title]').tooltip();

                //Wizard
                $('a[data-toggle="tab"]').on('show.bs.tab', function (e) {

                    var $target = $(e.target);

                    if ($target.parent().hasClass('disabled')) {
                        return false;
                    }
                });

                $(".next-step").click(function (e) {

                    var $active = $('.wizard .nav-tabs li.active');
                    $active.next().removeClass('disabled');
                    vue.nextTab($active);

                });

                $(".prev-step").click(function (e) {

                    var $active = $('.wizard .nav-tabs li.active');
                    vue.prevTab($active);

                });

            });

            vue.getRecordsCountAndTotalCost()
            vue.checkPreviousOrders()
            vue.getData()
        },
        methods: {
            nextTab(elem) {
                if (this.validator.step1 == 0) {
                    $(elem).next().find('a[data-toggle="tab"]').click();
                }
            },
            prevTab(elem)
            {
                $(elem).prev().find('a[data-toggle="tab"]').click();
            },


            getRecordsCountAndTotalCost()
            {
                var vue = this
                this.$http.get('/records-count-cost')
                        .then((response) => {
                                    vue.recordsCount = response.data.recordsCount;
                                    vue.totalPrice   = response.data.totalPrice;
                                    vue.is_email   = response.data.is_email;
                                    vue.is_email_checked = response.data.is_email_checked;
                                    if (vue.is_email_checked == true) {
                                        vue.email = response.data.email;
                                        vue.total = response.data.totalPrice + vue.recordsCount * this.spark.email_cost;
                                    } else {
                                        vue.total = response.data.totalPrice;
                                    }
                                },
                                (response) => {

                                })
            },

            getData()
            {
                var vue= this
                this.$http.get('/checkout/data')
                        .then((response) => {
                                    vue.count = response.data.count;
                                    vue.total_cost = response.data.total_cost;

                                    vue.is_email_checked = response.data.is_email_checked;
                                    if(vue.is_email_checked== true)
                                    {
                                        vue.is_email_checked = true;
                                    }
                                },
                                (response) => {

                                })
            },

            checkPreviousOrders()
            {
                var vue = this
                this.$http.get('/check/previous/orders')
                        .then((response) => {
                                    vue.ordersCount = response.data
                                    if (vue.ordersCount > 0){
                                        vue.method = 0
                                    }else{
                                        vue.method = 1
                                        vue.paymentForm = true

                                        var card = new Card({
                                            form: '#payment-form',
                                            container: '.card-wrapper',

                                            formSelectors: {
                                                numberInput: '#card-number', // optional — default input[name="number"]
                                                expiryInput: '#exp-month, #exp-year', // optional — default input[name="expiry"]
                                                cvcInput: '#cvc', // optional — default input[name="cvc"]
                                            }
                                        });
                                    }
                                },
                                (response) => {

                                })
            },

            storeStep2()
            {
                var vue = this;
                var data = {
                    token: vue.stripe_token,
                    payment_method: vue.method
                };

                this.$http.post('/checkout/step2', data)
                        .then((response) => {
                            vue.storeStep3()
                        $('.step2').prop('disabled', false);
                        vue.spin= false;
                        this.$router.push('/checkout/step4');

                                },
                                (response) => {

                                })
            },
            storeStep3()
            {
                var vue = this;
                vue.spin = true;
                var data = {
                    is_email_checked: vue.is_email_checked,
                    total: vue.total
                };

                if(vue.total <= 0){
                    var message = "There are no cost associated to items for charge.";
                    if (vue.errors.indexOf(message) == -1) {
                        vue.errors.push(message);
                        setTimeout(function () {
                            vue.errors = [];
                        }, 4000)
                    }

                    vue.spin = false;

                    return false;
                }

                this.$http.post('/checkout/step3', data)
                        .then((response) => {
                                    vue.spin = false;
                                    this.$router.push('/checkout/step4')
                                },
                                (response) => {

                                })
            }


        },
        watch: {
            method: function (val) {
                this.method = val;

                if (val == 1){
                    setTimeout(function () {
                        var card = new Card({
                            form: '#payment-form',
                            container: '.card-wrapper',

                            formSelectors: {
                                numberInput: '#card-number', // optional — default input[name="number"]
                                expiryInput: '#exp-month, #exp-year', // optional — default input[name="expiry"]
                                cvcInput: '#cvc', // optional — default input[name="cvc"]
                            }
                        });
                    }, 300)

                }
            }
        },
        components: {}
    }
</script>
