<template>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <h2>Suppression Files</h2>
                <table class="table">
                    <thead>
                    <tr>
                        <th>File Name</th>
                        <th>Type</th>
                        <th>No of Records</th>
                        <th>Uploaded Date</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr v-for="suppressionFile in suppressionFiles">
                        <td> {{ suppressionFile.file_name }}</td>
                        <td> {{ suppressionFile.table_name }} </td>
                        <td> {{ suppressionFile.no_of_records }} </td>
                        <td> {{ suppressionFile.created_at }}  </td>
                    </tr>
                    </tbody>
                </table>

            </div>
        </div>

    </div>
</template>
<style>

</style>
<script type="text/babel">

    export default{
        data(){
            return{
                msg:'hello vue',
                suppressionFiles: []
            }
        },
         mounted() {
            this.loadData();
        },

         methods: {


            loadData: function () {
                var vue = this;

                this.$http.get('/suppression/files').then((response) => {
                    vue.suppressionFiles = response.data;
               }, (response) => {
                    // Error
                });
            }
        },
        components:{

        }
    }
</script>
