
.panel-heading {
    padding:  7px !important;
}
.panel-body{
    margin-top: 22px;
}

.navbar-inverse .hamburger:before, .navbar-inverse
.hamburger .hamburger-bar, .navbar-inverse .hamburger:after {
    background: none;
}

.navbar-inverse .navbar-nav > li > a {
    color: #fff !important;
}

.navbar-inverse .navbar-nav > li > a:hover {
    color: #E4EAEC !important;
}

.navbar-nav li.dropdown span.caret {
    display: none;
}

.site-navbar, #toggleMenubar .nav-link, #toggleMenubar{
    min-height: 71px;
}

.navbar-icon .activity-indicator{
    z-index: 10 !important;
}

a.has-activity-indicator{
    cursor: pointer !important;
}

 /*Buyer Dashboard styles*/
#search{
    width: 500%;
}

.page-aside{
    min-height: 600px;
    margin-left: -30px;
}

.scrollable-container{
    min-height: 600px;
}

.tt-menu{
    width: 500%;
    border: 1px solid;
    text-align: left;
    position: relative;
    z-index: 9999;
}

.tt-suggestion{
    padding: 20px 10px !important;
    background: white;
    border-bottom: 1px;

}
.tt-cursor{
    background: #e3e3e3;
}

.fields-list-item div.content input{
    border: 1px solid #4397e6;
}

.site-menubar-unfold .site-menu-category {
    margin-top: 4px !important;
}

.with-navbar {
    padding-top: 70px;
}


/*Checkout Wizard Styles*/

.wizard {
    margin: 20px auto;
    background: #fff;
}

.wizard .nav-tabs {
    position: relative;
    margin: 40px auto;
    margin-bottom: 0;
    border-bottom-color: #e0e0e0;
}

.wizard > div.wizard-inner {
    position: relative;
}

.connecting-line {
    height: 2px;
    background: #e0e0e0;
    position: absolute;
    width: 80%;
    margin: 0 auto;
    left: 0;
    right: 0;
    top: 50%;
    z-index: 1;
}

.wizard .nav-tabs > li.active > a, .wizard .nav-tabs > li.active > a:hover, .wizard .nav-tabs > li.active > a:focus {
    color: #555555;
    cursor: default;
    border: 0;
    border-bottom-color: transparent;
}

span.round-tab {
    width: 70px;
    height: 70px;
    line-height: 70px;
    display: inline-block;
    border-radius: 100px;
    background: #fff;
    border: 2px solid #e0e0e0;
    z-index: 2;
    position: absolute;
    left: 0;
    text-align: center;
    font-size: 25px;
}

span.round-tab i {
    color: #555555;
}

.wizard li.active span.round-tab {
    background: #fff;
    border: 2px solid #62a8ea;

}

.wizard li.active span.round-tab i {
    color: #62a8ea;
}

span.round-tab:hover {
    color: #333;
    border: 2px solid #333;
}

.wizard .nav-tabs > li {
    width: 25%;
}

.wizard li:after {
    content: " ";
    position: absolute;
    left: 46%;
    opacity: 0;
    margin: 0 auto;
    bottom: 0px;
    border: 5px solid transparent;
    border-bottom-color: #62a8ea;
    transition: 0.1s ease-in-out;
}

.wizard li.active:after {
    content: " ";
    position: absolute;
    left: 46%;
    opacity: 1;
    margin: 0 auto;
    bottom: 0px;
    border: 10px solid transparent;
    border-bottom-color: #62a8ea;
}

.wizard .nav-tabs > li a {
    width: 70px;
    height: 70px;
    margin: 20px auto;
    border-radius: 100%;
    padding: 0;
}

.wizard .nav-tabs > li a:hover {
    background: transparent;
}

.wizard .tab-pane {
    position: relative;
    padding-top: 50px;
}

.wizard h3 {
    margin-top: 0;
}

@media ( max-width: 585px ) {

    .wizard {
        width: 90%;
        height: auto !important;
    }

    span.round-tab {
        font-size: 16px;
        width: 50px;
        height: 50px;
        line-height: 50px;
    }

    .wizard .nav-tabs > li a {
        width: 50px;
        height: 50px;
        line-height: 50px;
    }

    .wizard li.active:after {
        content: " ";
        position: absolute;
        left: 35%;
    }

}

.pagination {
    float: right;
}


table .collapse.in {
    display:table-row;
}