<template>

    <div class="row">
        <div class="col-md-12">
            <div class="alert alert-success" id="invitationLink" v-show="success">
                Invitation link has been sent to the email address.
            </div>
            <div class="alert alert-danger" v-show="errors.length">
                <ul>
                    <li v-for="error in errors">
                        {{ error }}
                    </li>
                </ul>
            </div>
            <!-- Invite Buyers  -->
            <div class="row">
                <div class="col-md-11">
                    <input type="text" class="form-control"
                           name="email"
                           placeholder="Enter E-Mail Address..."
                           v-model="email">
                </div>
                <div class="col-md-1">
                    <button type="button" class="btn btn-primary" @click="inviteBuyers">
                        <i class="fa fa-spinner fa-spin" v-show="loading"></i>
                        Invite
                    </button>
                </div>
            </div>

            <br>

            <spark-kiosk-users :user="user" inline-template>
                <div>
                    <div v-show=" ! showingUserProfile">
                        <!-- Search Field Panel -->
                        <div class="panel panel-default panel-flush" style="border: 0;">
                            <div class="panel-body">
                                <form class="form-horizontal p-b-none" role="form" @submit.prevent>
                                    <!-- Search Field -->
                                    <div class="row m-b-none">
                                        <div class="col-md-12">
                                            <input type="text" id="kiosk-users-search" class="form-control"
                                                   name="search"
                                                   placeholder="Search By Name Or E-Mail Address..."
                                                   v-model="searchForm.query"
                                                   @keyup.enter="search">
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>

                        <!-- Searching -->
                        <div class="panel panel-default" v-if="searching">
                            <div class="panel-heading" style="padding: 7px;">Search Results</div>

                            <div class="panel-body">
                                <i class="fa fa-btn fa-spinner fa-spin"></i>Searching
                            </div>
                        </div>

                        <!-- No Search Results -->
                        <div class="panel panel-warning" v-if=" ! searching && noSearchResults">
                            <div class="panel-heading">Search Results</div>

                            <div class="panel-body">
                                No users matched the given criteria.
                            </div>
                        </div>

                        <!-- User Search Results -->
                        <div class="panel panel-default" v-if=" ! searching && searchResults.length > 0">
                            <div class="panel-heading">Search Results</div>

                            <div class="panel-body">
                                <table class="table table-borderless m-b-none">
                                    <thead>
                                    <th></th>
                                    <th>Name</th>
                                    <th>E-Mail Address</th>
                                    <th></th>
                                    </thead>

                                    <tbody>
                                    <tr v-for="searchUser in searchResults">
                                        <!-- Profile Photo -->
                                        <td>
                                            <img :src="searchUser.photo_url" class="spark-profile-photo">
                                        </td>

                                        <!-- Name -->
                                        <td>
                                            <div class="btn-table-align">
                                                {{ searchUser.name }}
                                            </div>
                                        </td>

                                        <!-- E-Mail Address -->
                                        <td>
                                            <div class="btn-table-align">
                                                {{ searchUser.email }}
                                            </div>
                                        </td>

                                        <td>
                                            <!-- View User Profile -->
                                            <button class="btn btn-default" @click="showUserProfile(searchUser)">
                                                <i class="fa fa-search"></i>
                                            </button>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>

                    <!-- User Profile Detail -->
                    <div v-show="showingUserProfile">
                        <spark-kiosk-profile :user="user" :plans="plans" inline-template>
                            <div>
                                <!-- Loading Indicator -->
                                <div class="row" v-if="loading">
                                    <div class="col-md-12">
                                        <div class="panel panel-default">
                                            <div class="panel-body">
                                                <i class="fa fa-btn fa-spinner fa-spin"></i>Loading
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <!-- User Profile -->
                                <div v-if=" ! loading && profile">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="panel panel-default">
                                                <div class="panel-heading">
                                                    <!-- User Name -->
                                                    <div class="pull-left">
                                                        <div class="btn-table-align">
                                                            <i class="fa fa-btn fa-times" style="cursor: pointer;"
                                                               @click="showSearch"></i>
                                                            @{{ profile.name }}
                                                        </div>
                                                    </div>

                                                    <!-- Profile Actions -->
                                                    <div class="pull-right" style="padding-top: 2px;">
                                                        <div class="btn-group" role="group">
                                                            <!-- Apply Discount -->
                                                            <button class="btn btn-default"
                                                                    v-if="spark.usesStripe && profile.stripe_id" @click=
                                                                            "addDiscount(profile)">
                                                                <i class="fa fa-gift"></i>
                                                            </button>

                                                            <!-- Impersonate Button -->
                                                            <button class="btn btn-default" @click="impersonate(profile)"
                                                                    :disabled="auth_user.id === profile.id">
                                                                <i class="fa fa-user-secret"></i>
                                                            </button>
                                                        </div>
                                                    </div>

                                                    <div class="clearfix"></div>
                                                </div>

                                                <div class="panel-body">
                                                    <div class="row">
                                                        <!-- Profile Photo -->
                                                        <div class="col-md-3 text-center">
                                                            <img :src="profile.photo_url" class="spark-profile-photo-xl">
                                                        </div>

                                                        <div class="col-md-9">
                                                            <!-- Email Address -->
                                                            <p>
                                                                <strong>Email Address:</strong> <a
                                                                    :href="'mailto:'+profile.email">@{{ profile.email }}</a>
                                                            </p>

                                                            <!-- Joined Date -->
                                                            <p>
                                                                <strong>Joined:</strong> @{{ profile.created_at | datetime
                                                                }}
                                                            </p>

                                                            <!-- Subscription -->
                                                            <p>
                                                                <strong>Subscription:</strong>

                                                                <span v-if="activePlan(profile)">
                                                <a :href="customerUrlOnBillingProvider(profile)" target="_blank">
                                                    @{{ activePlan(profile).name }}
                                                    (@{{ activePlan(profile).interval | capitalize }})
                                                </a>
                                            </span>

                                                                <span v-else>
                                                None
                                            </span>
                                                            </p>

                                                            <!-- Total Revenue -->
                                                            <p>
                                                                <strong>Total Revenue:</strong> @{{ revenue |
                                                                currency(spark.currencySymbol) }}
                                                            </p>

                                                            <div class="form-group">
                                                                <label>0 - 7 Days Old: </label> <input
                                                                    v-model="profile.price_0_to_7_days_old" type="text"
                                                                    name="price"
                                                                    class="form-control"
                                                                    placeholder="Enter Price">
                                                            </div>
                                                            <div class="form-group">
                                                                <label>7 - 14 Days Old: </label> <input
                                                                    v-model="profile.price_7_to_14_days_old" type="text"
                                                                    name="price"
                                                                    class="form-control"
                                                                    placeholder="Enter Price">
                                                            </div>
                                                            <div class="form-group">
                                                                <label>14 - 30 Days Old: </label> <input
                                                                    v-model="profile.price_14_to_30_days_old" type="text"
                                                                    name="price"
                                                                    class="form-control"
                                                                    placeholder="Enter Price">
                                                            </div>
                                                            <div class="form-group">
                                                                <label>Greater than 30 Days Old: </label> <input
                                                                    v-model="profile.price_greater_than_30_days_old"
                                                                    type="text"
                                                                    name="price"
                                                                    class="form-control"
                                                                    placeholder="Enter Price">
                                                            </div>
                                                            <button type="button" class="btn btn-primary"
                                                                    v-on:click="storePricing(profile)">
                                                                Save
                                                            </button>

                                                        </div>


                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <!-- Teams -->
                                    <!--<div class="row" v-if="spark.usesTeams && profile.owned_teams.length > 0">-->
                                    <!--<div class="col-md-12">-->
                                    <!--<div class="panel panel-default">-->
                                    <!--<div class="panel-heading">-->
                                    <!--{{ ucfirst(str_plural(Spark::teamString())) }}-->
                                    <!--</div>-->

                                    <!--<div class="panel-body">-->
                                    <!--<table class="table table-borderless m-b-none">-->
                                    <!--<thead>-->
                                    <!--<th></th>-->
                                    <!--<th>Name</th>-->
                                    <!--<th>Subscription</th>-->
                                    <!--</thead>-->

                                    <!--<tbody>-->
                                    <!--<tr v-for="team in profile.owned_teams">-->
                                    <!--&lt;!&ndash; Photo &ndash;&gt;-->
                                    <!--<td>-->
                                    <!--<img :src="team.photo_url" class="spark-team-photo">-->
                                    <!--</td>-->

                                    <!--&lt;!&ndash; Team Name &ndash;&gt;-->
                                    <!--<td>-->
                                    <!--<div class="btn-table-align">-->
                                    <!--@{{ team.name }}-->
                                    <!--</div>-->
                                    <!--</td>-->

                                    <!--&lt;!&ndash; Subscription &ndash;&gt;-->
                                    <!--<td>-->
                                    <!--<div class="btn-table-align">-->
                                    <!--<span v-if="activePlan(team)">-->
                                    <!--<a :href="customerUrlOnBillingProvider(team)" target="_blank">-->
                                    <!--@{{ activePlan(team).name }}-->
                                    <!--(@{{ activePlan(team).interval | capitalize }})-->
                                    <!--</a>-->
                                    <!--</span>-->

                                    <!--<span v-else>-->
                                    <!--None-->
                                    <!--</span>-->
                                    <!--</div>-->
                                    <!--</td>-->
                                    <!--</tr>-->
                                    <!--</tbody>-->
                                    <!--</table>-->
                                    <!--</div>-->
                                    <!--</div>-->
                                    <!--</div>-->
                                    <!--</div>-->
                                </div>

                                <!-- Apply Discount Modal -->
                                <div>

                                    <spark-kiosk-add-discount inline-template>
                                        <div>
                                            <div class="modal fade" id="modal-add-discount" tabindex="-1" role="dialog">
                                                <div class="modal-dialog" v-if="discountingUser">
                                                    <div class="modal-content">
                                                        <div class="modal-header">
                                                            <button type="button " class="close" data-dismiss="modal"
                                                                    aria-hidden="true">&times;</button>

                                                            <h4 class="modal-title">
                                                                Add Discount (@{{ discountingUser.name }})
                                                            </h4>
                                                        </div>

                                                        <div class="modal-body">
                                                            <!-- Current Discount -->
                                                            <div class="alert alert-success" v-if="currentDiscount">
                                                                This user has a discount of @{{
                                                                formattedDiscount(currentDiscount) }}
                                                                for @{{ formattedDiscountDuration(currentDiscount) }}.
                                                            </div>

                                                            <!-- Add Discount Form -->
                                                            <form class="form-horizontal" role="form">
                                                                <!-- Discount Type -->
                                                                <div class="form-group"
                                                                     :class="{'has-error': form.errors.has('type')}">
                                                                    <label class="col-sm-4 control-label">Discount
                                                                        Type</label>

                                                                    <div class="col-sm-6">
                                                                        <div class="radio">
                                                                            <label>
                                                                                <input type="radio" value="amount"
                                                                                       v-model="form.type">&nbsp;&nbsp;Amount
                                                                            </label>
                                                                        </div>

                                                                        <div class="radio">
                                                                            <label>
                                                                                <input type="radio" value="percent"
                                                                                       v-model="form.type">&nbsp;&nbsp;Percentage
                                                                            </label>
                                                                        </div>

                                                                        <span class="help-block"
                                                                              v-show="form.errors.has('type')">
                                                                        @{{ form.errors.get('type') }}
                                                                    </span>
                                                                    </div>
                                                                </div>

                                                                <!-- Discount Value -->
                                                                <div class="form-group"
                                                                     :class="{'has-error': form.errors.has('value')}">
                                                                    <label class="col-md-4 control-label">
                                                                        <span v-if="form.type == 'percent'">Percentage</span>

                                                                        <span v-if="form.type == 'amount'">Amount</span>
                                                                    </label>

                                                                    <div class="col-md-6">
                                                                        <input type="text" class="form-control"
                                                                               v-model="form.value">

                                                                        <span class="help-block"
                                                                              v-show="form.errors.has('value')">
                                                                        @{{ form.errors.get('value') }}
                                                                    </span>
                                                                    </div>
                                                                </div>

                                                                <!-- Discount Duration -->
                                                                <div class="form-group"
                                                                     :class="{'has-error': form.errors.has('duration')}">
                                                                    <label class="col-sm-4 control-label">Discount
                                                                        Duration</label>

                                                                    <div class="col-sm-6">
                                                                        <div class="radio">
                                                                            <label>
                                                                                <input type="radio" value="once"
                                                                                       v-model="form.duration">&nbsp;&nbsp;Once
                                                                            </label>
                                                                        </div>

                                                                        <div class="radio">
                                                                            <label>
                                                                                <input type="radio" value="forever"
                                                                                       v-model="form.duration">&nbsp;&nbsp;Forever
                                                                            </label>
                                                                        </div>

                                                                        <div class="radio">
                                                                            <label>
                                                                                <input type="radio" value="repeating"
                                                                                       v-model="form.duration">&nbsp;&nbsp;Multiple
                                                                                Months
                                                                            </label>
                                                                        </div>

                                                                        <span class="help-block"
                                                                              v-show="form.errors.has('duration')">
                                                                        @{{ form.errors.get('duration') }}
                                                                    </span>
                                                                    </div>
                                                                </div>

                                                                <!-- Duration Months -->
                                                                <div class="form-group"
                                                                     :class="{'has-error': form.errors.has('months')}"
                                                                     v-if="form.duration == 'repeating'">
                                                                    <label class="col-md-4 control-label">
                                                                        Months
                                                                    </label>

                                                                    <div class="col-md-6">
                                                                        <input type="text" class="form-control"
                                                                               v-model="form.months">

                                                                        <span class="help-block"
                                                                              v-show="form.errors.has('months')">
                                                                        @{{ form.errors.get('months') }}
                                                                    </span>
                                                                    </div>
                                                                </div>
                                                            </form>
                                                        </div>

                                                        <!-- Modal Actions -->
                                                        <div class="modal-footer">
                                                            <button type="button" class="btn btn-default"
                                                                    data-dismiss="modal">
                                                                Cancel
                                                            </button>

                                                            <button type="button" class="btn btn-primary"
                                                                    @click="applyDiscount"
                                                                    :disabled="form.busy">
                                                            <span v-if="form.busy">
                                                                <i class="fa fa-btn fa-spinner fa-spin"></i>Applying
                                                            </span>

                                                                <span v-else>
                                                                Apply Discount
                                                            </span>
                                                            </button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </spark-kiosk-add-discount>


                                </div>
                            </div>
                        </spark-kiosk-profile>

                    </div>
                </div>
            </spark-kiosk-users>

        </div>

    </div>

</template>
<style>


</style>
<script type="text/babel">

    export default{
        data(){
            return {
                success: false,
                loading: false,
                email: '',
                errors: []
            }
        },
        mounted() {

        },
        methods: {
            inviteBuyers(){
                var vue = this;
                vue.loading = true;
                var data = {
                    email: vue.email,
                };

                this.$http.post('/invite/buyers', data)
                    .then((response) => {
                            $('#invitationLink').show();
                            vue.loading = false;
                            vue.success = true;
                            setTimeout(function () {
                                vue.success = false;
                            }, 4000);
                        },
                        (response) => {
                            vue.loading = false;
                            vue.success = false;

                            $.each(response.data.errors, function(key, value) {
                                if (vue.errors.indexOf(value) == -1) {
                                    vue.errors.push(value)
                                }
                            });

                            setTimeout(function () {
                                vue.errors = [];
                            }, 4000);
                        })
            },
        },
        components: {}
    }
</script>
