<template>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <h2>Your Invoice</h2>
                <table class="table">
                    <thead>
                    <tr>
                        <th>#</th>
                        <th>Description</th>
                        <th>Quantity</th>
                        <th>Unit Cost</th>
                        <th>File</th>
                        <th>Total</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr v-if="invoice.is_email == 1">
                        <td> 1</td>
                        <td>Email</td>
                        <td>{{ invoice.records_count }}</td>
                        <td>${{ this.spark.email_cost }}.00</td>
                        <td>
                            <a v-show="!is_expired" :href="download_url">{{ file_name + '.' + invoice.file_format }}</a>
                            <a class="link-expired" v-show="is_expired">The link has expired.</a>
                        </td>
                        <td>${{ invoice.records_count * this.spark.email_cost }}.00</td>
                    </tr>

                    <tr>
                        <td> 2</td>
                        <td>Number of records: <strong>{{ invoice.table_name }}</strong>:</td>
                        <td> {{ invoice.records_count }}</td>
                        <td>-</td>
                        <td>
                            <a v-show="!is_expired" :href="download_url">{{ file_name + '.' + invoice.file_format }}</a>
                            <a class="link-expired" v-show="is_expired">The link has expired.</a>
                        </td>
                        <td>${{ invoice.total_price }}</td>

                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td><strong>Total:</strong> ${{ invoice.total }}</td>
                    </tr>


                    </tbody>
                </table>

            </div>
        </div>

    </div>
</template>
<style scoped>
 .link-expired{
        color: red !important;
    }
</style>
<script  type="text/babel">

    export default{
        data(){
            return{
                msg:'hello vue',
                invoice: [],
                recordsCount: '',
                totalPrice: 0,
                total: 0,
                file_name: '',
                download_url: '',
                is_expired: false,
                total_cost: 0,
                is_email_checked: false,
                count: '',
                is_email : ''
            }
        },
        mounted() {

            this.loadInvoice();
            this.getData();
            this.getRecordsCountAndTotalCost()
        },

        methods: {
            moment: function () {
                return moment();
            },
            loadInvoice: function () {
                var vue = this;

                var data = {
                    params: {
                        order_id: this.$route.params.orderId
                    }
                }

                this.$http.get('/invoice', data).then((response) => {

                    console.log(response.data.is_email)
                    vue.invoice = response.data.invoice
                    vue.file_name = response.data.file_name
                    vue.download_url = response.data.download_url
                    vue.is_expired = response.data.is_expired
                    vue.is_email = response.data.is_email

                    if(vue.is_expired != "")
                    {
                        vue.is_expired = true;
                    }


                }, (response) => {
                    // Error
                });
            },
            getData()
            {
                var vue= this
                this.$http.get('/checkout/data')
                        .then((response) => {

                                    this.count = response.data.count;
                                    this.total_cost = response.data.total_cost;
                                    vue.is_email_checked = response.data.is_email_checked;
                                    if(vue.is_email_checked== true)
                                    {
                                        vue.is_email_checked = true;
                                    }
                                },
                                (response) => {

                                })
            },
            getRecordsCountAndTotalCost()
            {
                var vue = this;
                this.$http.get('/records-count-cost')
                        .then((response) => {
                                    vue.recordsCount = response.data.recordsCount;
                                    vue.totalPrice = response.data.totalPrice;
                                    vue.is_email = response.data.is_email;
                                    vue.is_email_checked = response.data.is_email_checked;

                                    if (vue.is_email_checked == true) {
                                        vue.email = response.data.email;
                                        vue.total = response.data.totalPrice +  vue.recordsCount * this.spark.email_cost;
                                    } else {
                                        vue.total = response.data.totalPrice;
                                    }
                                },
                                (response) => {

                                })
            }
        },
        components:{

        }
    }
</script>
