<template>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <h2>Your Orders</h2>
                <table class="table table-hover">
                    <thead>
                    <tr>
                        <th>Type</th>
                        <!--<th>File</th>-->
                        <th>Purchased Date</th>
                        <th>Action</th>
                    </tr>
                    </thead>
                    <tbody>

                    <tr v-for="order in orders">
                        <td>{{ order.table_name }}</td>
                        <!--<td>-->
                            <!--<a v-show="!order.is_expired" :href="order.download_url">{{ order.file_name + '.' + order.file_format }}</a>-->
                            <!--<a class="link-expired" v-show="order.is_expired">The link has expired.</a>-->
                        <!--</td>-->
                        <td>
                            {{ order.purchased_date }}
                        </td>

                        <td>
                            <router-link :to="{ name: 'order', params: { orderId: order.id }}" class="btn btn-primary" style="text-decoration:none;">
                                <i class="fa fa-envelope" aria-hidden="true"></i>
                                View Invoice
                            </router-link>
                        </td>
                    </tr>

                    </tbody>
                </table>
                <pagination :pagination="pagination" :callback="loadData" :options="paginationOptions"></pagination>
            </div>
        </div>

    </div>
</template>
<style scoped>
    
    .link-expired{
        color: red !important;
    }

</style>
<script type="text/babel">

    export default{
        data(){
            return {
                msg: 'hello vue',
                orders: [],
                pagination: {
                    total: 0,
                    total_pages: 1,
                    per_page: 15,    // required
                    current_page: 1, // required
                    last_page: 1,    // required
                    from: 1,
                    to: 12           // required
                },
                paginationOptions: {
                    offset: 4,
                    previousText: 'Prev',
                    nextText: 'Next',
                    alwaysShowPrevNext: true
                }
            }
        },
        mounted() {
            this.loadData();
        },
        methods: {
            moment: function () {
                return moment();
            },
            loadData: function () {
                var vue = this;
                let data = {
                    paginate: vue.pagination.per_page,
                    page: vue.pagination.current_page
                    /* additional parameters */
                };
                this.$http.get('/orders?page='+data.page).then((response) => {
                    vue.orders = response.data.data;

                    // Update Pagination from response
                    vue.pagination = {
                        current_page: response.data.current_page,
                        last_page: response.data.last_page,
                        total_pages: response.data.last_page,
                        to: response.data.to,
                        from: response.data.from
                    };

                }, (response) => {
                    // Error
                });
            }
        },
        components: {
            pagination: require('vue-bootstrap-pagination')
        }
    }
</script>
