<template>

    <div>
        <div class="page-aside">
            <div class="page-aside-switch">
                <i class="icon wb-chevron-left" aria-hidden="true"></i>
                <i class="icon wb-chevron-right" aria-hidden="true"></i>
            </div>
            <div class="page-aside-inner">
                <div data-role="container">
                    <div data-role="content">
                        <section class="page-aside-section">
                            <div class="list-group">
                                <template v-for="(field, index) in fields">

                                    <a @click="toggleContent(index)" style="text-align: center;"
                                       href="javascript:void(0)" class="list-group-item field">
                                        <i style="left: 6%" class="icon" aria-hidden="true"></i>
                                        <br>

                                        {{ field.formatted_name }}
                                    </a>
                                    <!-- Pop Large Content -->
                                    <div :id='index+"-content"' class="content" style="display: none">
                                        <div class="form-group" style="margin: 5px">
                                            <br>

                                            <multiselect v-if="field.name == 'state'" v-model="field.value"
                                                         :options="stateOptions" :multiple="true"
                                                         :clear-on-select="false" :hide-selected="true"
                                                         :show-labels="false"
                                                         placeholder="Select States"
                                                         label="name" track-by="value" :taggable="true" @tag="addTag">
                                            </multiselect>

                                            <multiselect v-if="field.name == 'city'" v-model="field.value"
                                                         :options="cityOptions" :multiple="true"
                                                         :clear-on-select="false" :hide-selected="true"
                                                         :show-labels="false"
                                                         placeholder="Select Cities"
                                                         label="name" track-by="value" :taggable="true" @tag="addTag">
                                            </multiselect>


                                            <input v-if="field.name != 'state' && field.name != 'city' && field.name != 'dataAges' && field.name != 'amount' && field.name != 'credit_rating'"
                                                   type="text" v-model="field.value" class="form-control"
                                                   :placeholder="'Enter '+field.formatted_name">

                                            <template v-if="field.name == 'amount'">
                                                <select class="form-control select-field" v-model="field.value">
                                                    <option v-bind:value="0">Any amount</option>
                                                    <option v-bind:value="50000">Upto 50,000</option>
                                                    <option v-bind:value="100000">Upto 100,000</option>
                                                    <option v-bind:value="150000">Upto 150,000</option>
                                                    <option v-bind:value="200000">Upto 200,000</option>
                                                    <option v-bind:value="greater_200000">> 200,000</option>
                                                </select>
                                            </template>

                                            <template v-if="field.name == 'credit_rating'">
                                                <div class="form-group">
                                                    <div class="input-group">
                                                        <span class="radio-custom radio-default">
                                                        <input type="radio" id="inputRadio_excellent"
                                                               name="credit_rating" v-model="field.value"
                                                               value="excellent">
                                                        <label for="inputRadio_excellent">Excellent</label>
                                                      </span>

                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <div class="input-group">
                                                        <span class="radio-custom radio-default">
                                                        <input type="radio" id="inputRadio_good" name="credit_rating"
                                                               v-model="field.value" value="good">
                                                        <label for="inputRadio_good">Good</label>
                                                      </span>

                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <div class="input-group">
                                                        <span class="radio-custom radio-default">
                                                        <input type="radio" id="inputRadio_fair" name="credit_rating"
                                                               v-model="field.value" value="fair">
                                                        <label for="inputRadio_fair">Fair</label>
                                                      </span>

                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <div class="input-group">
                                                        <span class="radio-custom radio-default">
                                                        <input type="radio" id="inputRadio_poor" name="credit_rating"
                                                               v-model="field.value" value="poor">
                                                        <label for="inputRadio_poor">Poor</label>
                                                      </span>

                                                    </div>
                                                </div>
                                            </template>


                                            <template v-if="field.name == 'dataAges'">
                                                <div class="form-group">
                                                    <div class="checkbox-custom checkbox-default">
                                                        <input type="checkbox" :id="7" name="inputCheckbox"
                                                               value="7" v-model="field.value">
                                                        <label :for="7">0 to 7 days</label>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                <span class="checkbox-custom checkbox-default">
                                                    <input type="checkbox" :id="14" name="inputCheckbox"
                                                           value="14" v-model="field.value">
                                                    <label :for="14">7 to 14 days</label>
                                                </span>
                                                </div>
                                                <div class="form-group">
                                                <span class="checkbox-custom checkbox-default">
                                                    <input type="checkbox" :id="30" name="inputCheckbox"
                                                           value="30" v-model="field.value">
                                                    <label :for="30">14 to 30 days</label>
                                                </span>
                                                </div>
                                                <div class="form-group">
                                                <span class="checkbox-custom checkbox-default">
                                                    <input type="checkbox" :id="greater_30" name="inputCheckbox"
                                                           value="30+" v-model="field.value">
                                                    <label :for="greater_30">Greater than 30 days</label>
                                                </span>
                                                </div>
                                            </template>


                                            <br>
                                        </div>
                                    </div>

                                </template>
                            </div>
                        </section>

                    </div>
                </div>
            </div>

        </div>
        <div class="page-main">
            <div class="row">
                <div class="col-md-10">
                    <div id="saveQuery" class="alert alert-success" style="display:none;">
                        Query has been saved successfully.
                    </div>


                    <multiselect v-model="selected" :options="options" :multiple="true"
                                 :clear-on-select="false" :hide-selected="true" placeholder="Pick some vendors"
                                 :show-labels="false"
                                 label="name" track-by="value">
                    </multiselect>

                    <div class="row" style="margin-top: 11px;">
                        <div class="form-group col-xs-12 col-md-6">
                            <input type="text" class="form-control" placeholder="Zip Code" v-model="zipCode">
                        </div>
                        <div class="form-group col-xs-12 col-md-6">
                            <select class="form-control select-field" v-model="selectedRadius">
                                <option v-bind:value="0">Zip Code Radius</option>
                                <option v-bind:value="10">10 Miles</option>
                                <option v-bind:value="15">15 Miles</option>
                                <option v-bind:value="20">20 Miles</option>
                                <option v-bind:value="25">25 Miles</option>
                                <option v-bind:value="30">30 Miles</option>
                                <option v-bind:value="35">35 Miles</option>
                                <option v-bind:value="40">40 Miles</option>
                                <option v-bind:value="45">45 Miles</option>
                                <option v-bind:value="50">50 Miles</option>
                                <option v-bind:value="55">55 Miles</option>
                                <option v-bind:value="60">60 Miles</option>
                                <option v-bind:value="70">70 Miles</option>
                                <option v-bind:value="80">80 Miles</option>
                                <option v-bind:value="90">90 Miles</option>
                                <option v-bind:value="100">100 Miles</option>
                                <option v-bind:value="200">200 Miles</option>
                            </select>
                        </div>
                    </div>


                    <div id="myModal" class="modal fade" role="dialog">
                        <div class="modal-dialog">

                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                    <h4 class="modal-title">Enter Query Name</h4>
                                </div>
                                <div class="modal-body">
                                    <div id="queryExist" class="alert alert-danger" style="display:none;">
                                        Query with this name already exists.
                                    </div>


                                    <div id="validationNameField" class="alert alert-danger" style="display:none;">
                                        Query Name is required
                                    </div>

                                    <p><input type="text" class="form-control" v-model="queryName"
                                              placeholder="Enter Query Name"></p>
                                </div>
                                <div class="modal-footer">
                                    <button @click="storeSearchQueries" type="button" class="btn btn-success">Save
                                    </button>
                                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel
                                    </button>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div id="previousSearchModal" class="modal fade" role="dialog">
                        <div class="modal-dialog">

                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                    <h4 class="modal-title">Load Previous Search</h4>
                                </div>
                                <div class="modal-body">
                                    <p>
                                        <select class="form-control" v-model="selectedSearch">
                                            <option v-for="searchOption in searchOptions"
                                                    v-bind:value="searchOption.value">
                                                {{ searchOption.name }}
                                            </option>
                                        </select>
                                    </p>
                                </div>
                                <div class="modal-footer">
                                    <button @click="getPreviousQueryData" type="button" class="btn btn-success">
                                        Search
                                    </button>
                                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel
                                    </button>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="col-md-2">
                    <button @click="search" type="button" class="btn btn-primary btn-block">
                        <i v-show="!loading" class="fa fa-search"></i>
                        <i v-show="loading" class="fa fa-spinner fa-spin"></i>
                        Search
                    </button>
                </div>
            </div>

            <br>

            <div class="row">

                <div class="col-md-5">
                    <div class="card card-block p-25 bg-blue-600">
                        <div class="counter counter-lg counter-inverse">
                            <div class="counter-label text-uppercase">Number of Records</div>
                            <span class="counter-number">{{ records_count }}</span>
                        </div>
                    </div>
                </div>

                <div class="col-md-5">
                    <div class="card card-block p-25 bg-green-600">
                        <div class="counter counter-lg counter-inverse">
                            <div class="counter-label text-uppercase">Total Cost</div>
                            <span class="counter-number">${{ totalCost }}</span>
                        </div>
                    </div>
                </div>

                <div class="col-md-2">
                    <button data-toggle="modal" data-target="#myModal" type="button" class="btn btn-primary btn-block">
                        Save Search
                    </button>
                    <button id="load-search" data-toggle="modal" data-target="#previousSearchModal"
                            type="button" class="btn btn-primary btn-block">
                        Load Search
                    </button>

                    <button v-bind:disabled="records_count <= 0" type="button"
                            class="btn btn-success pull-right purchase-now btn-block">
                        Buy Now <i class="fa fa-forward"></i>
                    </button>
                </div>

            </div>

            <div class="row">

                <div class="col-md-10">

                    <rise-loader style="margin-top: 20%" :loading="loading" :color="color" :size="size"></rise-loader>

                    <!-- Panel Bar Stacked -->
                    <div v-show="!loading" class="card card-shadow" id="barStackedChart">
                        <div class="card-block p-0 p-30 h-full">
                            <div class="chart-header p-b-10" style="height:calc(100% - 350px);">
                                <div class="font-size-20 inline-block">
                                    Overview of the Data
                                </div>
                                <div class="card-header-actions">
                                    <ul class="list-inline">
                                        <li class="list-inline-item">
                                            <span class="icon wb-medium-point blue-600 m-r-5"></span>0-7 Days Old
                                        </li>
                                        <li class="list-inline-item">
                                            <span class="icon wb-medium-point purple-600 m-r-5"></span>7-14 Days Old
                                        </li>
                                        <li class="list-inline-item">
                                            <span class="icon wb-medium-point blue-grey-300 m-r-5"></span>14-30 Days
                                            Old
                                        </li>
                                        <li class="list-inline-item">
                                            <span class="icon wb-medium-point green-600 m-r-5"></span>30+ Days Old
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="ct-chart h-350"></div>

                        </div>
                    </div>
                    <!-- End Panel Bar Stacked -->
                </div>


            </div>

        </div>

    </div>

</template>

<style scoped>

    .page-aside {
        overflow-y: scroll;
    }

    .page-aside-inner {
        border-bottom: 1px solid #efefef;
    }

    .page-aside {
        width: 230px;
    }

    .page-aside-inner {
        height: 90vh;
    }

    .page-main {
        margin-left: 210px;
    }

    .form-group {
        margin-bottom: -0.571rem;
    }

    .checkbox-custom, .radio-custom {
        padding-left: 35px;
    }
</style>

<script type="text/babel">

    export default{
        props: ['user'],
        data()
        {
            return {
                query: '',
                totalCount: '',
                queryName: '',
                zipCode: '',
                records: [],
                records_count: 0,
                record_ids: [],
                indexes: [],
                fields: [],
                selected: [],
                selectedRadius: [],
                selectedSearch: [],
                options: [],
                selectedStates: [],
                selectedCities: [],
                stateOptions: [],
                cityOptions: [],
                searchOptions: [],
                userIds: [],
                priceLevels: [],
                totalCost: 0,
                isAllSelected: true,
                loading: false,
                range1: [],
                range2: [],
                range3: [],
                range4: [],
                table: '',
                dataAge: [],
                amount: '',
                creditRating: '',
            }
        },
        mounted() {
            var vue = this;

            vue.table = getQueryByName('table');

            this.getTableFields(vue.table);

            vue.getPricesByAgeRange();

            vue.getOptions();

            $('#load-search').click(function () {
                var data = {
                    params: {table_name: vue.table}
                };
                vue.$http.get('/search/queries', data)
                        .then((response) => {
                                    vue.searchOptions = response.data.options
                                },
                                (response) => {

                                });
            });

            $(".purchase-now").click(function () {
                vue.putRecordsInSession()
            });


      },
        methods: {
            addTag (newTag) {
                const tag = {
                    name: newTag,
                    value: newTag
                };

                this.stateOptions.push(tag);
            },
            toggleContent: function (index) {
                $('#' + index + "-content").slideToggle();
            },
            populateChart: function (names, data) {
                (function () {
                    var stacked_bar = new Chartist.Bar('#barStackedChart .ct-chart', {
                                labels: names,
                                series: data
                            },
                            {
                                stackBars: true,
                                fullWidth: true,
                                seriesBarDistance: 0,
                                chartPadding: {
                                    top: 0,
                                    right: 0,
                                    bottom: 0,
                                    left: 50
                                },
                                axisX: {
                                    showLabel: true,
                                    showGrid: false,
                                    offset: 40
                                },
                                axisY: {
                                    showLabel: true,
                                    showGrid: true,
                                    offset: 10,
                                    onlyInteger: true
                                }
                            });
                })();
            },
            getOptions: function () {
                var vue = this;

                var data = {
                    params: {table: vue.table}
                };

                this.$http.get('/vendor/options', data).then((response) => {
                            vue.options = [];
                            $.each(response.data.options, function (index, user) {
                                vue.options.push({name: user.name, value: user.id});
                            });

                            $.each(response.data.stateOptions, function (index, option) {
                                vue.stateOptions.push({name: option, value: option});
                            });
                            $.each(response.data.cityOptions, function (index, option) {
                                vue.cityOptions.push({name: option, value: option});
                            });

                            if (vue.isAllSelected) {
                                vue.selected = vue.options;
                                vue.isAllSelected = false;
                            }
                        },
                        (response) => {
                            vue.options = [];
                            vue.selected = [];
                        });

            },
            search: function () {
                var vue = this;
                vue.loading = true;
                vue.totalCost = 0;

                var queries = [];

                $.each(this.fields, function (index, field) {
                    if (field.value != '') {
                        var clause = [];
                        clause[field.name] = field.value;

                        queries.push(clause);
                    }
                });

                var data = {
                    params: {
                        table: vue.table,
                        users: vue.selected,
                        queries: this.fields,
                        zip_code: this.zipCode,
                        radius: this.selectedRadius,
                        states: vue.selectedStates,
                        cities: vue.selectedCities,
                        dataAges: vue.dataAge,
                        amount: vue.amount,
                        creditRating: vue.creditRating
                    }
                };

                this.$http.get('/search', data)
                        .then((response) => {
                                    vue.records = response.data.records;
                                    vue.records_count = response.data.records_count;
                                    vue.record_ids = response.data.record_ids;

                                    console.log(vue.records.length);
                                    console.log(vue.record_ids.length);


                                    // Group data by Vendors
                                    var names = response.data.names;

                                    var data = [];

                                    // Get data by age range
                                    data.push(vue.records.range1);      // 0 - 7
                                    data.push(vue.records.range2);      // 7 - 14
                                    data.push(vue.records.range3);      // 14 - 30
                                    data.push(vue.records.range4);      // > 30

                                    vue.calculateTotalCost();

                                    vue.loading = false;

//                    console.log(data);

                                    // Populate Data Chart
                                    this.populateChart(names, data);
                                },
                                (response) => {

                                });

            },
            getTableFields(tableName){
                var vue = this;
                var data = {
                    params: {table_name: vue.table}
                };

                this.$http.get('/table-fields', data)
                        .then((response) => {
                                    console.log(response.data.fields)
                                    this.fields = response.data.fields;

                                    setTimeout(function () {
                                        $('.page-aside .list-group-item:nth-child(8n+1) i:first-child').addClass("wb-dashboard");
                                        $('.page-aside .list-group-item:nth-child(8n+3) i:first-child').addClass("wb-pluse");
                                        $('.page-aside .list-group-item:nth-child(8n+5) i:first-child').addClass("wb-heart");
                                        $('.page-aside .list-group-item:nth-child(8n+7) i:first-child').addClass("wb-folder");
                                    }, 100);

                                },
                                (response) => {

                                })
            },
            storeSearchQueries(){
                var vue = this;

                if (vue.selectedStates.length) {
                    $.each(vue.fields, function (index, field) {
                        if (field.name == 'state') {
                            vue.fields[index].value = vue.selectedStates;
                        }
                    });
                }
                if (vue.selectedCities.length) {
                    $.each(vue.fields, function (index, field) {
                        if (field.name == 'city') {
                            vue.fields[index].value = vue.selectedCities;
                        }
                    });
                }


                var data = {
                    fields: this.fields,
                    vendors: this.selected,
                    table: vue.table,
                    queryName: this.queryName
                };

                if (this.queryName != '') {
                    this.$http.post('/store/queries', data)
                            .then((response) => {
                                        if (response.data.success == 0) {
                                            $('#queryExist').show()
                                        } else {
                                            $("#myModal").modal('hide')
                                            $('#saveQuery').show()
                                            setTimeout(function () {
                                                $('#saveQuery').hide()
                                            }, 4000);

                                        }
                                    },
                                    (response) => {

                                    })
                } else {
                    $('#validationNameField').show();

                    setTimeout(function () {
                        $('#validationNameField').hide()
                    }, 3000);
                }
            },
            getPreviousQueryData(){
                var data = {
                    params: {id: this.selectedSearch}
                };

                this.$http.get('/previous/queries', data)
                        .then((response) => {
                                    var vue = this;
                                    this.fields = response.data.fields;
                                    this.selected = response.data.vendors;

                                    $("#previousSearchModal").modal('hide');
                                    this.search();

                                    $.each(this.fields, function (index, field) {
                                        if (field.value != '') {
                                            $('#' + index + "-content").slideDown();
                                        }
                                        else {
                                            $('#' + index + "-content").slideUp();
                                        }

                                        if (field.name == 'state') {
                                            vue.selectedStates = field.value;
                                        }
                                        if (field.name == 'city') {
                                            vue.selectedCities = field.value;
                                        }
                                    })
                                },
                                (response) => {

                                })
            },
            putRecordsInSession(){


                var vue = this;

                var data = {
                    record_ids: vue.record_ids,
                    total_cost: vue.totalCost
                };

                this.$http.post('/records', data)
                        .then((response) => {

                                    this.$router.push('/checkout/step1')
                                },
                                (response) => {

                                })
            },
            getPricesByAgeRange(){
                var vue = this;

                this.$http.get('/pricing/range')
                        .then((response) => {

                                    vue.priceLevels = response.data;
                                    vue.calculateTotalCost()
                                },
                                (response) => {

                                })
            },
            calculateTotalCost(){
                var vue = this;

                vue.totalCost = 0;

                $.each(vue.records.range1, function (index, element) {
                    vue.totalCost += element * vue.priceLevels.price_0_to_7
                });

                $.each(vue.records.range2, function (index, element) {
                    vue.totalCost += element * vue.priceLevels.price_7_to_14
                });

                $.each(vue.records.range3, function (index, element) {
                    vue.totalCost += element * vue.priceLevels.price_14_to_30
                });

                $.each(vue.records.range4, function (index, element) {
                    vue.totalCost += element * vue.priceLevels.price_greater_30
                });
            },


        },
        components: {}
    }


</script>
